.about{
    &__wrapper{
        padding: 20px 16px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        display: flex;
    }

    &__li{
        display: none;
    }

    &__btn{
        display: none;
    }
}

@include mobile{
    .about{
        &__li{
            color: white;
            display: flex;
            gap: 24px;
        }

        &__btn{
            padding: 16px 24px;
            background: black;
            border: 1px solid white;
            color: white;
            border-radius: 8px;
            display: block;
        }

        &__btn:hover{
            background: rgba(0, 0, 255, 0.521);
            transform: scale(1.1);
            transition: 2s;
        }
    }
}