.find{

    &__find{
    margin-top: 50px;
    font-size: 28px;
    color: white;
    display: block;
    margin-left: 16px;
    }

    &__info{
    display: block;
    font-size: 14px;
    margin-left: 16px;
    color: rgba(153, 153, 153, 1);
    }

    &__inp{
    border-radius: 12px;
    border: 1px solid white;
    background-color: black;
    padding: 22px 205px 22px 18px;
    }

    &__input{
    margin-top: 55px;
    position: relative;
    margin-left: 16px;
    }

    &__img{
    top:6px ;
    left: 300px;
    position: absolute;
    }
    
    &__infoo{
    display: none;
    }

    &__your{
    display: none;
    }

    &__int{
        border: 1px solid white ;

    }

    &__sel{
        color: white;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 8px;
        background-color: black;
        padding: 14px 210px 14px 20px;
    }

    &__sell{
        color: white;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 8px;
        background-color: black;
        padding: 14px 235px 14px 20px;
    }

    &__se{
        color: white;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 8px;
        background-color: black;
        padding: 14px 229px 14px 20px
    }

    &__div{
        position: relative;
    }

    &__imgg{
        left: 33px;
        top: 446px;
        position: absolute;
    }

    &__image{
        left: 33px;
        top: 510px;
        position: absolute;
    }

    &__imm{
        left: 34px;
        top:647px;
        position: absolute;
    }

    &__ii{
        left: 36px;
        top: 580px;
        position: absolute;
    }

    &__imggg{
        left: 33px;
        top: 712px;
        position: absolute;
    }

}

@include mobile{
    .find{
    
    &__select{
        display: flex;
        cursor: pointer;
        justify-content: center;
    }

    &__sel{
        color: white;
        cursor: pointer;
        padding: 24px 92px 24px 50px;
         background-color: rgba(40, 35, 35, 0.445);    
        border: 1px solid rgba(255, 255, 255, 0.09);
    }

    &__sell{
        color: white;
        cursor: pointer;
        padding: 24px 92px 24px 50px;
        background-color: rgba(40, 35, 35, 0.445);    
        border: 1px solid rgba(255, 255, 255, 0.09);
    }

    &__se{
        color:white;
        cursor: pointer;
        padding:24px 92px 24px 50px;
        background-color: rgba(40, 35, 35, 0.445);    
        border: 1px solid rgba(255, 255, 255, 0.09);
    }


    &__imgg{
        left:95px;
        top: 635px;
        position: absolute;
    }


     &__image{
        left: 361px;
        top: 635px;
        position: absolute;
    }


     &__imm{
        left: 640px;
        top:635px ;
        position: absolute;
    }


    &__ii{
        left: 916px;
        top: 635px;
        position: absolute;
    }

      &__imggg{
        left: 1190px;
        top:635px ;
        position: absolute;
    }

    &__info{
    display: none;
    }
       
    &__find{
    display: none;
    } 
        
    &__your{
    display: block;
    color: white;
    font-size: 48px;
    margin-top: 150px;
    margin-left: 30px;
    }

    &__infoo{
    display: block;
    font-size: 18px;
    margin-left: 30px;
    color: rgba(153, 153, 153, 1);
    }


     &__inp{
        color: white;
    margin-top: 60px;
    border-radius: 12px;
    margin-left: 158px;
    padding: 22px 950px 22px 18px;
    background-color: rgba(40, 35, 35, 0.445);    
    border: 1px solid rgba(255, 255, 255, 0.09);
    }

    &__img{
    top:67px ;
    left: 1200px;
    cursor: pointer;
    position: absolute;
    }

   
    }
}