.nav{

    &__header {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #000000;
    backdrop-filter: blur(10);
    padding-bottom: 20px;
    animation: headAnim 3.5s ease-in-out forwards;
}
    @keyframes headAnim{
    0%{
    transform: translatex(0);
    opacity: 0;
    }
    100%{
    transform: translatex(0px);
    opacity: 2;
    }
   }
    

    &__wrapper{
        padding: 20px 16px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        display: flex;
    }

    &__ul{
        display: none;
    }

    &__btn{
        display: none;
    }

    /* From Uiverse.io by zjssun */ 
&__bin {
  display: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 18px;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
  
}

&__bin:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}


    
}

@include mobile{
    .nav{

      &__bin{
        display: block;
      }

        &__wrapper{
            align-items: center;
            display: flex;
        }

        &__img{
            display: none;
        }

        &__ul{
            display: flex;
            gap: 30px;
            color: white;
            font-size: 18px;
        }

        &__btn{
            padding: 16px 24px;
            font-size: 18px;
            background-color: black;
            border: 1px solid white;
            color: white;
            border-radius: 8px;
            display: flex;
            cursor: pointer;
        }

        &__btn:hover{
            background: rgba(0, 0, 255, 0.454);
            transition: 2s;
            transform: scale(1.1);
        }

        &__img--image{
            margin-left: 20px;
        }
    }
}