.hero{
    &__wrapper{
        padding-top: 40px;
        color: white;
        position: relative;
    }

    &__img{
        display: flex;
        position: absolute;
        top: 270px;
        right: 250px;
    }

    &__title{
        font-size: 28px;
        margin-left: 16px;
        padding-top: 16px;
    }

    &__infos{
        color: rgba(153, 153, 153, 1);
        font-size: 14px;
        margin-left: 16px;
    }

    &__image{
        margin-left: 16px;
    }

    &__btn{
        background: rgba(112, 59, 247, 1);
        color: white;
        padding: 14px 120px;
        font-size: 14px;
        margin-left: 16px;
        border-radius: 8px;
        border: none;
        margin-left: 16px;
    }

    &__btn--button{
        color: white;
        border:1px solid white;
        background: black;
        margin-left: 16px;
        border-radius: 8px;
        padding: 18px 143px;
        margin-bottom: 10px;
        margin-top: 40px;
    }

    &__cards--card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 12px;
        margin-top: 40px;
    }

    &__price--card{
        font-size: 24px;
    }

     &__card--info{
        background-color: rgba(38, 38, 38, 0.551);
        border-radius: 10px;
    }

    &__card--infoo{
        background-color: rgba(38, 38, 38, 0.551);
        border-radius: 10px;
        padding: 5px 80px 10px 80px;
    }

    &__card--infos{
        background-color: rgba(38, 38, 38, 0.551);
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }

    &__card--infoies{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;
    }

    &__title--info{
        display: none;
    }

     &__info--title{
        display: none;
     }

     &__btns{
        display: none;
     }

     &__button{
        display: none;
     }

     &__price{
        display: none;
     }

     &__cards{
        display: none;
     }

     &__infos--card{
        display: none;
     }

     &__button--btn{
        display: none;
     }

     &__sub{
        display:none;
     }

     &__cards--img{
        display: none;
     }

}

@include mobile{
    .hero{

        &__card--infoss{
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(38, 38, 38, 0.551);
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        width: 450px;
        }

        &__card--infoss:hover{
            transform: scale(0.9);
            transition: 2s;
            box-shadow:
        rgba(3, 66, 255, 0.25) 0px 80px 55px,
        rgba(4, 8, 244, 0.12) 0px -12px 30px,
        rgba(14, 1, 255, 0.12) 0px 20px 100px,
        rgba(21, 1, 246, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px 100px 54px;
        }

        &__cards--img{
            display: flex;
            gap: 20px;
            margin-top: 30px;
        }

        &__card--infoies{
            display: none;
        }

         &__btn--button{
            display: none;
         }

        &__title{
            display: none;
        }

        &__infos{
            display: none;
        }

        &__image{
            display: none;
        }

        &__btn{
            display: none;
        }

        &__img{
            display: none;
        }

        &__title--info{
            font-size: 60px;
            margin-left: 40px;
            display: block;
        }

        &__info--title{
            font-size: 18px;
            color: rgba(153, 153, 153, 1);
            margin-left: 40px;
            display: block;
        }

        &__btns{
            cursor: pointer;
            padding: 18px 24px;
            background-color: black;
            color: white;
            border: 1px solid white;
            border-radius: 8px;
            display: block;
        }

        &__btns:hover{
            transform: scale(1.1);
            transition: 2s;
            background-color: rgba(0, 0, 255, 0.505);
        }

        &__button:hover{
            background: rgba(112, 59, 247, 0.256);
            transform: scale(1.1);
            transition: 2s;
        }

        &__button{
            color: white;
            background: rgba(112, 59, 247, 1);
            padding: 18px 24px;
            border: none;
            border-radius: 8px;
            margin-left: 10px;
            display: block;
            cursor: pointer;
        }

        &__price{
            font-size: 40px;
            display: block;
        }

        &__cards{
            display: flex;
            gap: 16px;
            margin-top: 50px;
            margin-left: 40px;
        }

        &__infos--card{
            position: relative;
            display: flex;
        }

        &__button--btn{
            margin-top: 50px;
            margin-left: 40px;
            display: flex;
        }

        &__sub{
            position: absolute;
            left: 700px;
            top: 90px;
            display: block;
        }

        &__sub:hover{
            transform: scale(1.2);
            transition: 2s;
        }

        &__card{
            background-color: rgba(46, 45, 45, 0.465);
            border-radius: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }

        &__card:hover{
            transform: scale(0.9);
            transition: 2s;
            box-shadow:
        rgba(3, 66, 255, 0.25) 0px 80px 55px,
        rgba(4, 8, 244, 0.12) 0px -12px 30px,
        rgba(14, 1, 255, 0.12) 0px 20px 100px,
        rgba(21, 1, 246, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px 100px 54px;
        }

        &__cards--card{
            display: none;
        }

    }
}
