.real{
   &__wrapper{
    color: white;
   }

   &__your{
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    margin-left: 16px;
   }

   &__real{
    font-size: 28px;
    margin-left: 16px;
    margin-top: 130px;
   }

   &__btn{
    padding: 14px 122px;
    background: rgba(112, 59, 247, 1);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 16px;
   }

   &__card{
    display: block;
   }

   &__info{
    display: none;
   }
}

@include mobile{
    .real{
     
     &__info{
        display: block;
     }   
        
    &__card{
        display: none;
    }

    &__cards{
        display: flex;
    }

    &__just{
        color: rgba(153, 153, 153, 1);
        font-size: 14px;
        margin-left: 90px;
    }

    &__button{
        padding: 14px 24px;
        background: rgba(112, 59, 247, 1);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 8px;
        margin-left: 190px;
    }

    &__button:hover{
        background: rgba(112, 59, 247, 0.409);
        transition: 2s;
        transform: scale(1.1);
    }

    &__infos{
        font-size: 48px;
        margin-left: 90px;
    }
    }
}